.contact__container {
    border-radius: 10px;
}

.s{
    text-align: center;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
}

.contact__options {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

    .contact__option {
        border: 3px solid black;
        border-radius:10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    .contact__option-icon {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    a {
        margin-top: 0.4rem;
        display: inline-block;
        font-size: 0.7rem;
        color: green;
        padding: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    input, textarea {
        width: 70%;
        padding: 1.2rem;
        border-radius: 10px;
        background: transparent;
        border: 3px solid black;
        resize: none;
        color: black;
    }

    .btn-primary{
        border: none;
    cursor: pointer;
    align-items: center;
    margin: 15px;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 10px;
    transition: opacity 5s;
    width: 150px;
    height: 50px;
    padding: 15px;
    }
